@import "tailwindcss";

/* src/assets/main.css */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #111827;
  background-color: #f9fafb;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
}

body.theme-dark {
  background: #020617 !important;
  color: #e5e7eb;
}

body.theme-light {
  background: #f3f4f6 !important; /* hafif gri – login & home için ideal */
  color: #0f172a;
}

/* v-app arka plan override */
body.theme-dark .v-application {
  background: #020617 !important;
}

body.theme-light .v-application {
  background: #f3f4f6 !important;
}
